In [24]:
import pandas 
import numpy as np

file = pandas.read_csv("test.csv")
print(file)

   Number    h  weiht  gender      name  temperature  married
0       1  199    200       1  zhangsan         37.5      NaN
1       2  200    200       1      lisi         37.2      1.0
2       3  155    200       0    wangwu         37.6      1.0
3       4  155    200       0    wangwu         37.6      0.0
4       5  135    200       0    wangwu         37.6      NaN
5       6  145    200       0    wangwu         37.6      0.0
6       7  165    200       0    wangwu         37.6      NaN

In [5]:
#获取第三行数据
local_0 = file.loc[0]
print(type(file.loc[0]))# type = 'pandas.core.series.Series',相当于字典
print("local_0 value = \n",local_0)
print("---------------------------")
print("---------------------------")
print("index in series local_0 = 1,value = ",local_0[1])#获取series中的第四个数据，打印199

<class 'pandas.core.series.Series'>
local_0 value =
 Number               1
h                  199
weiht              200
gender               1
name          zhangsan
temperatur        37.5
Name: 0, dtype: object
---------------------------
---------------------------
index in series local_0 = 1,value =  199

In [26]:
#通过切片获取数据,此时得到的数据任然为DataFrame
local_pice = file.loc[:2]
print("type of local_pice : \n",type(local_pice))
print("shape of local_pice :\n",local_pice.shape)      
print("data of the local_pice:\n",local_pice)

type of local_pice :
 <class 'pandas.core.frame.DataFrame'>
shape of local_pice :
 (3, 7)
data of the local_pice:
    Number    h  weiht  gender      name  temperature  married
0       1  199    200       1  zhangsan         37.5      NaN
1       2  200    200       1      lisi         37.2      1.0
2       3  155    200       0    wangwu         37.6      1.0

In [27]:
#传入任意的index 就可以获取到相应值,得到的还是DataFrame

indexs = [1,3,5]
data = file.loc[indexs]
print(type(data))
print(data)

<class 'pandas.core.frame.DataFrame'>
   Number    h  weiht  gender    name  temperature  married
1       2  200    200       1    lisi         37.2      1.0
3       4  155    200       0  wangwu         37.6      0.0
5       6  145    200       0  wangwu         37.6      0.0

In [29]:
#通过列名获取某列数据，该数据为series
cols_data = file["Number"]

print("type of cols_data: \n",type(cols_data))
print("data of cols_data : \n ",cols_data)

print("------------------------------------------------------")
print("------------------------------------------------------")

#通过列名获取多列数据,获取到的数据为DataFrame
data_name = ["Number","h"]
arra = file[data_name]
print("type of arra: \n",type(arra))
print("data of arra : \n ",arra)

type of cols_data:
 <class 'pandas.core.series.Series'>
data of cols_data :
  0    1
1    2
2    3
3    4
4    5
5    6
6    7
Name: Number, dtype: int64
------------------------------------------------------
------------------------------------------------------
type of arra:
 <class 'pandas.core.frame.DataFrame'>
data of arra :
     Number    h
0       1  199
1       2  200
2       3  155
3       4  155
4       5  135
5       6  145
6       7  165

In [30]:
#在数据集中新添加一列

rows = file.shape[0]
addDatas = np.linspace(0,100,rows)
addDatas = addDatas.reshape(rows,1)

print(addDatas)
file["addData"] = addDatas
print("add a col data to origin dataset :\n",file)

[[  0.        ]
 [ 16.66666667]
 [ 33.33333333]
 [ 50.        ]
 [ 66.66666667]
 [ 83.33333333]
 [100.        ]]
add a col data to origin dataset :
    Number    h  weiht  gender      name  temperature  married     addData
0       1  199    200       1  zhangsan         37.5      NaN    0.000000
1       2  200    200       1      lisi         37.2      1.0   16.666667
2       3  155    200       0    wangwu         37.6      1.0   33.333333
3       4  155    200       0    wangwu         37.6      0.0   50.000000
4       5  135    200       0    wangwu         37.6      NaN   66.666667
5       6  145    200       0    wangwu         37.6      0.0   83.333333
6       7  165    200       0    wangwu         37.6      NaN  100.000000

In [13]:
minData = file["addData"].min()
maxData = file["addData"].max()
sumData = file["addData"].sum()
print(minData)
print(maxData)
print(sumData)

0.0
100.0
350.0

In [12]:
#排序
#升序
file.sort_values("addData",inplace=True)
print("升序：\n",file["addData"])

file.sort_values("addData",inplace=True,ascending=False)
print("降序：\n",file["addData"])

升序：
 0      0.000000
1     16.666667
2     33.333333
3     50.000000
4     66.666667
5     83.333333
6    100.000000
Name: addData, dtype: float64
降序：
 6    100.000000
5     83.333333
4     66.666667
3     50.000000
2     33.333333
1     16.666667
0      0.000000
Name: addData, dtype: float64

In [31]:

print(file)
#求出 不同性别的addData的总和
file.pivot_table(index = "gender",values = ["addData"],aggfunc=np.sum)
#求出 不同性别的addData的平均值
file.pivot_table(index = "gender",values = ["addData"],aggfunc=np.mean)

#求出 不同性别的addData的平均值,h平均值
file.pivot_table(index = "gender",values = ["addData","h"],aggfunc=np.mean)

   Number    h  weiht  gender      name  temperature  married     addData
0       1  199    200       1  zhangsan         37.5      NaN    0.000000
1       2  200    200       1      lisi         37.2      1.0   16.666667
2       3  155    200       0    wangwu         37.6      1.0   33.333333
3       4  155    200       0    wangwu         37.6      0.0   50.000000
4       5  135    200       0    wangwu         37.6      NaN   66.666667
5       6  145    200       0    wangwu         37.6      0.0   83.333333
6       7  165    200       0    wangwu         37.6      NaN  100.000000

          addData      h
gender
0       66.666667  151.0
1        8.333333  199.5

In [45]:
#丢掉数据位NAN的行列


#丢掉包含NAN的所有列
#new_file_col = file.dropna(axis = 1)

#丢掉包含NAN数据的行
new_file_row= file.dropna(axis = 0)

#丢掉指定某列包含NAN的数据列
new_file_col = file.dropna(axis = 0,subset=["married"])
print(new_file_row)
print(new_file_col)

#定位具体某个数据,也是通过索引的方式FrameData.loc[x,""]
print("get special location: \n",file.loc[1,"gender"])

   Number    h  weiht  gender    name  temperature  married    addData
1       2  200    200       1    lisi         37.2      1.0  16.666667
2       3  155    200       0  wangwu         37.6      1.0  33.333333
3       4  155    200       0  wangwu         37.6      0.0  50.000000
5       6  145    200       0  wangwu         37.6      0.0  83.333333
   Number    h  weiht  gender    name  temperature  married    addData
1       2  200    200       1    lisi         37.2      1.0  16.666667
2       3  155    200       0  wangwu         37.6      1.0  33.333333
3       4  155    200       0  wangwu         37.6      0.0  50.000000
5       6  145    200       0  wangwu         37.6      0.0  83.333333
go special location:
 1