In [6]:
#pandas 排序

import pandas 
import numpy as np

file = pandas.read_csv("test.csv")
print(file)

#降序排列，此时排序后的数据的索引没有变，如果要生成一个新的数据，并且索引也是排好序的
sort_file = file.sort_values("h",ascending = False)

new_sf = sort_file.reset_index(drop = True)

print(sort_file)

#重新排序好的数据
print(new_sf)

   Number    h  weiht  gender      name  temperature  married
0       1  199    200       1  zhangsan         37.5      NaN
1       2  200    200       1      lisi         37.2      1.0
2       3  155    200       0    wangwu         37.6      1.0
3       4  155    200       0    wangwu         37.6      0.0
4       5  135    200       0    wangwu         37.6      NaN
5       6  145    200       0    wangwu         37.6      0.0
6       7  165    200       0    wangwu         37.6      NaN
   Number    h  weiht  gender      name  temperature  married
1       2  200    200       1      lisi         37.2      1.0
0       1  199    200       1  zhangsan         37.5      NaN
6       7  165    200       0    wangwu         37.6      NaN
2       3  155    200       0    wangwu         37.6      1.0
3       4  155    200       0    wangwu         37.6      0.0
5       6  145    200       0    wangwu         37.6      0.0
4       5  135    200       0    wangwu         37.6      NaN
   Number    h  weiht  gender      name  temperature  married
0       2  200    200       1      lisi         37.2      1.0
1       1  199    200       1  zhangsan         37.5      NaN
2       7  165    200       0    wangwu         37.6      NaN
3       3  155    200       0    wangwu         37.6      1.0
4       4  155    200       0    wangwu         37.6      0.0
5       6  145    200       0    wangwu         37.6      0.0
6       5  135    200       0    wangwu         37.6      NaN

In [7]:
#定义函数打印第三行数据 
def second_row(col):
    s_row = col.loc[2]
    return s_row

#调用DataFrame的apply函数 ，把函数名传进去即可
sec_row = file.apply(second_row)
print(sec_row)

Number              3
h                 155
weiht             200
gender              0
name           wangwu
temperature      37.6
married             1
dtype: object