In [ ]:
#pandas  数据处理库 ,基于numpy的一个库

In [13]:
import pandas 

file = pandas.read_csv("test.csv")
print(file)

#class 'pandas.core.frame.DataFrame' 为panda核心结构
#DataFrame相当于矩阵结构
print(type(file))

print(file.shape)

#字符型的值得类型为 object
print(file.dtypes)

   Number    h  weiht  gender      name  temperatur
0       1  199    200       1  zhangsan        37.5
1       2  200    200       1      lisi        37.2
2       3  155    200       0    wangwu        37.6
3       4  155    200       0    wangwu        37.6
4       5  135    200       0    wangwu        37.6
5       6  145    200       0    wangwu        37.6
6       7  165    200       0    wangwu        37.6
<class 'pandas.core.frame.DataFrame'>
(7, 6)
Number          int64
h               int64
weiht           int64
gender          int64
name           object
temperatur    float64
dtype: object

In [15]:
#显示cvs文件内容的，默认显示前5条，
file.head()

#file.head(3)显示前三条

   Number    h  weiht  gender      name  temperatur
0       1  199    200       1  zhangsan        37.5
1       2  200    200       1      lisi        37.2
2       3  155    200       0    wangwu        37.6
3       4  155    200       0    wangwu        37.6
4       5  135    200       0    wangwu        37.6
5       6  145    200       0    wangwu        37.6
6       7  165    200       0    wangwu        37.6